.Dropdown {
  background-color: #1930DB;
  font-family: "Oswald";
  border: none;
  width: 108px;
  font-size: 12px;
  
}
.Dropdown:hover{
  background-color: #BA1863 ;
}

.Dropdown_option {
  color: white;
 
}

.Dropdown_option:hover {
  color: black;
  
}
