.Dropdown {
  background-color: black;
  font-family: "Oswald";
  border: none;
  width: 108px;
  font-size: 12px;
}

.Dropdown:hover {
  color: #ffbc15;
  background-color: black;
}

.Dropdown_option {
  color: white;
}

.Dropdown_option:hover {
  color: #ffbc15;
  background-color: black;
}
